body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333333;
        }

        h1 {
            color: #333;
            padding-left: 12px;
            margin-bottom: 3%;
        }

        form {
            max-width: 100%;
            margin: 10px 10px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 97%;
            padding: 7px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #5D6D7E;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #7E8E98;
        }

        /* Optional: Style the headings */
        h2 {
            padding-left: 15px;
            margin-top: 30px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            color: #333333;
        }

/* Styles for the popup container */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 9999;
}

/* Styles for the popup message */
.popup-message {
    margin: 0;
    padding 0px;
    font-size: 16px;
    color: #333333;
    padding-bottom: 8px;
}

/* Styles for the close button */
.popup-close-button {
    cursor: pointer;
    background-color: #5D6D7E;
    padding: 8px 16px 6px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.popup-close-button:hover {
    background-color: #7E8E98;
}

/* Styles for the download button */
.download-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #5D6D7E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    margin: 10px;
}

.download-button:hover {
    background-color: #7E8E98;
}

.send-mail{
    display: inline-block;
    padding: 10px 10px;
    background-color: #5D6D7E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    margin: 10px;
}