h1 {
    font-family: Arial, sans-serif;
    padding-left: 73px;
    color: #333333
}

.table-container {
    margin: 0 auto; /* This will center the table horizontally */
    width: 90%; /* Adjust the width as needed */
}

table {
            border-collapse: collapse;
            width: 90%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            font-size: 12px
        }

        th {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            background-color: #5D6D7E;
            color: white;
            font-size: 14px
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }